<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobalTalk</title>
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@600;700&family=Roboto&family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="#" class="logo">GlobalTalk</a>
                <ul class="nav__list">
                    <li class="slash">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
                            <path d="M1.04761 0.567383V17.4326" stroke="#E0E0E0" stroke-width="1.20466"/>
                        </svg>
                    </li>
                    <li class="nav__item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="textbook.html">Textbook</a>
                    </li>
                    <li class="nav__item">
                        <a href="statistics.html">Statistics</a>
                    </li>
                    <li class="nav__item" id="games">
                            <a href="#">
                                <span>Games</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                                <path d="M3.81213 6.60889L7.27431 10.0713L10.7367 6.60889" stroke="#757575" stroke-width="1.6"/>
                            </svg>
                            </a>
                        <ul class="games__menu">
                            <li class="games-item">
                                <a href="sprint.html">Sprint→</a>
                            </li>
                            <li class="games-item">
                                <a href="audiocall.html">Audio call→</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <span class="account">
                    <a href="#" class="account__data">
                        <span class="account__logo">A</span>
                        <span class="name">Alex</span>
                    </a>
                    <a href="#" class="sign__in">Sign Out→</a>
                </span>
                <div class="burger">
                    <span class= "burger__span"></span>
                    <span class= "burger__span"></span>
                    <span class= "burger__span"></span>
                </div>
            </nav>        
        </div>
    </header>